<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/defaultStyles.css">
    <link rel="shortcut icon" href="/icons/favicon.svg" type="image/x-icon">
    <title>Members Only</title>
</head>
<body>
    <%- include('navbar') %>
    <% if (locals.page === "index") { %>
        <%- include('posts', {allPosts: allPosts}) %>
    <% } %>
    <% if (locals.page === "new-post") { %>
        <%- include('new-post') %>
    <% } %>
</body>
</html>