<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='styles/defaultStyles.css' />
    <link rel='stylesheet' href='styles/loginStyles.css' />
  </head>
  <body>
    <div class="login-div">
        <h1>Welcome back</h1>
        <form action="/login" method="POST" class="login-form">
          <div class="input-div">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <% if (incorrect && incorrect[0] === "Incorrect username" ) { %>
              <div class="error-message" style="color: red;"><%= incorrect[0] %></div>
            <% } %>
          </div>
          <div class="input-div">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <% if (incorrect && incorrect[0] === "Incorrect password" ) { %>
              <div class="error-message" style="color: red;"><%= incorrect[0] %></div>
            <% } %>
          </div>
          <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
  </body>
</html>
