<navbar>
    <h1>Members Only!</h1>
    <div class="nav-buttons">
        <a href="/new-post"><button>New Post +</button></a>
        <a href="/logout"><button style="color: red;" >Logout</button></a>
    </div>
</navbar>