<navbar>
    <h1>Members Only!</h1>
    <div class="nav-buttons">
        <% if (locals.user) { %>
            <a href="/new-post"><button class="log-out-button">New Post +</button></a>
            <a href="/logout"><button class="log-out-button" >Logout</button></a>
        <% } %>
    </div>
</navbar>