<div class="all-posts">
    <% locals.allPosts.map((post) => { %>
        <% console.log(post.title) %>
        <div class="post">
            <div class="post-header">
                <div class="logo"></div>
                <div class="post-details">
                    <div class="name"><%= post.username %></div>
                    <div class="post-when"><%= post.displayDate %></div>
                </div>
            </div>
            <div class="post-text">
                <h3 class="post-heading">
                    <%= post.title %>
                </h3>
                <div class="post-body">
                    <%= post.content %>
                </div>
            </div>
        </div>
    <% }) %>
</div>