<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='styles/defaultStyles.css' />
    <link rel='stylesheet' href='styles/signupStyles.css' />
    <link rel="shortcut icon" href="/icons/favicon.svg" type="image/x-icon">
  </head>
  <body>
    <div class="signup-div">
        <h1>Create a new account</h1>
        <form action="/signup" method="POST" class="signup-form" autocomplete="off">
            <div class="input-div">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="<%= locals.userInput ? userInput.username : '' %>" required>
                <% if (locals.errors && errors.username) { %>
                    <div class="error-message"><%= errors.username %></div>
                <% } %>
            </div>
            <div class="input-div">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" autocomplete="new-password" required>
                <% if (locals.errors && errors.password) { %>
                    <div class="error-message"><%= errors.password %></div>
                <% } %>
            </div>
            <div class="input-div">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" autocomplete="new-password" required>
                <% if (locals.errors && errors.confirmPassword) { %>
                    <% console.log(locals.errors) %>
                    <div class="error-message"><%= errors.confirmPassword %></div>
                <% } %>
            </div>
          <button type="submit">Sign up</button>
        </form>
        <p>Already have an account? <a href="/login">Login</a></p>
    </div>
    <script>
      function checkPasswordMatch() {
        pass = document.getElementById('password').value
        confirmPassElem = document.getElementById('confirm_password')
        confirmPass = document.getElementById('confirm_password').value
        submitButton = document.querySelector('button')
        if (pass === confirmPass) {
          confirmPassElem.style.border = '1px solid green'
          confirmPassElem.style.outline = '1px solid green'
          submitButton.disabled = false;
          submitButton.style.cursor = 'pointer'
        }
        else {
          confirmPassElem.style.border = '1px solid red'
          confirmPassElem.style.outline = '1px solid red'
          submitButton.disabled = true;
          submitButton.style.cursor = 'none'
        }
      }
    </script>
  </body>
</html>
