
body {
  font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
  background-color: #0e1217;
  color: #f4f4f9;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

header {
  background: #1c2a3a;
  padding: 1rem 0;
  border-bottom: 1px solid #333;
  margin-bottom: 2rem;
}

a {
  color: #7f5af0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 1rem;
}

button {
  align-self: stretch;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: #613dca;
  color: white;
  width: 100%;
  margin-top: 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}

input {
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  background-color: #0e1217;
  color: white;
  padding: 0px 0.5rem;
  font-size: 1rem;
}

navbar {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 0px 1.5rem 1.5rem 1.5rem;
  margin: 0 2rem;
  align-items: center;

}

.nav-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
}

.nav-buttons > button, .nav-buttons > a > button {
  width: max-content;
  padding: 0 2rem;
  font-weight: 200;
  margin-top: 0;
  align-self: flex-end;
}

navbar > h1 {
  margin: 0;
  font-family: "DM Serif Text";
  align-self: flex-end;
  text-decoration: 4px  #613dca underline;
}

.all-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
}

.post {
  width: 60vw;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-header {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  display: flex;
  gap: 1rem;
}

.post-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  border: 3px solid #613dca;
}

.post-when {
  color: gray;
}

.post-heading {
  font-size: 1.75rem;
  margin-bottom: 5px;
}