
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: #0e1217;
  color: #f4f4f9;
}

header {
  background: #1c2a3a;
  padding: 1rem 0;
  border-bottom: 1px solid #333;
  margin-bottom: 2rem;
}

a {
  color: #7f5af0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 1rem;
}

button {
  align-self: stretch;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: #613dca;
  color: white;
  width: 100%;
  margin-top: 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
}

input {
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  background-color: #0e1217;
  color: white;
  padding: 0px 0.5rem;
  font-size: 1rem;
}